@import '../main';

.header,
.container,
.navigation {
  margin: 0 auto;
  max-width: rem(960px);
  padding: $layout-spacing;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: $blue;

  img {
    margin: 0;
  }
}

.stamp {
  padding-left: $layout-spacing;
  padding-right: $layout-spacing;
}

.stamp,
.portrait {
  width: 40%;
}

.portrait {
  margin-top: $layout-spacing;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-basis: 0;
  background-color: $lightpurple;
  padding: 0 $layout-spacing;

  .text {
    display: none;
  }

  a {
    text-align: center;
    display: block;
    text-decoration: none;
    width: 100%;
    margin: 0 $layout-spacing/6;
    padding: $layout-spacing $layout-spacing/6;
    color: white;
    position: relative;
    opacity: 0.8;
    font-weight: 500;

    &:hover,
    &:active,
    &:focus,
    &[aria-current] {
      background-color: $darkpurple;
      opacity: 1;
    }

    &[aria-current]:after {
      $triangle-size: rem(10px);
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin: -$triangle-size;
      width: 0;
      height: 0;
      border-bottom: solid $triangle-size white;
      border-left: solid $triangle-size transparent;
      border-right: solid $triangle-size transparent;
    }
  }
}

.container {
  background-color: #fff;

  a:not([no-style]) {
    text-decoration: none;
    background-color: transparentize($darkpurple, 0.9);
    border-radius: rem(2px);

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
      background-color: transparentize($darkpurple, 0.7);
    }
  }
}

.contact {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  p {
    width: 200px;
  }
}

@media screen and (min-width: $min-tablet-width) {
  .stamp,
  .portrait {
    width: 30%;
  }

  .navigation {
    .text {
      display: initial;
    }
    .icon {
      display: none;
    }
  }
}

@media screen and (min-width: $min-desktop-width) {
  .stamp,
  .portrait {
    width: 25%;
  }
}
