@import '../main';

.construction-wrapper {
  @include responsive-sizing(460, 380);
  max-width: rem(500px);
  margin: 0 auto;
}

.content-wrapper {
  text-align: center;
  width: 100%;
  margin-top: rem(20px);
}

.countdown-wrapper {
  margin: rem(30px auto 20px auto);
}
