@import './main';

html {
  @include rem-baseline;
}

body {
  background-color: $silver;
  min-width: rem(320px);
}

@media screen and (min-width: $min-tablet-width) {
  body {
    padding: 0 10px;
  }
}
