@import '~sass-rem';

@function em($values...) {
  $result: ();
  $separator: list-separator($values);

  @each $value in $values {
    @if type-of($value) == 'number' and unit($value) == 'px' {
      $result: append($result, $value / $rem-baseline * 1em, $separator);
    } @else if type-of($value) == 'list' {
      $result: append($result, em($value ...), $separator);
    } @else {
      $result: append($result, $value, $separator);
    }
  }

  @return if(length($result) == 1, nth($result, 1), $result);
}

$blue: #02224e;
$silver: #abb4b9;
$lightsilver: lighten($silver, 25%);
$blackish: #090c08;
$darkpurple: #474056;
$lightpurple: #757083;

$min-tablet-width: em(426px);
$min-desktop-width: em(769px);

$layout-spacing: rem(20px);

@mixin responsive-sizing($width, $height) {
  // https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
  position: relative;
  overflow: hidden;
  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
